@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    height: 100px;
    width: 100vw;
    background-color: rgba(107, 37, 48, 0.63);
}
nav > img{
    height: 80px;
    display: inline;
    margin-left: 15px;
    margin-top: 10px;
}
nav > menu{
    display: inline;
    background-color: rgba(107, 37, 48, 0.63);
}

nav > menu >h1{
    margin-left: 250px;
    margin-top: -50px;
    font-size: 1.2em;
}
main > section form{
    width: 90%;
    margin-left: 20px;
    margin-top: 10px;
}
#salvar{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #6b2530;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#salvar:hover{
    background-color: #882f3d94
}
#botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #6b2530;
    color:white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
#botao:hover{
    background-color: #882f3d94
}