@charset "UTF-8";

@media screen and (min-width: 992px) and (max-width: 1200px){
    #salvar{
        width: 200px;
    }
    nav > menu> h1{
        margin-left: 480px;
        font-size: 1.8em;
        margin-top: -60px;
    }
    #botao{
        margin-left: 210px;
        margin-top: -40px;
    }
    main > section form{
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
    }
    
}

@media screen and (min-width: 1200px){
    nav > menu> h1{
        margin-left: 530px;
        font-size: 2.5em;
        margin-top: -60px;
    }
    #salvar{
        width: 200px;
    }
    #botao{
        margin-left: 210px;
        margin-top: -40px;
        width: 200px;
    }
    main > section form{
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
    }
}