@charset "utf-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 80vw;
        height: 350px;
    }
    section#login > div#logo {
        float: left;
        width: 40%;
        height: 100%;
        margin: auto;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
        margin-right: 40px;
    }

}
@media screen and (min-width: 992px){
    section#login{
        width: 950px;
        height: 400px;
    }
    section#login > div#logo{
        float: right;
        width: 50%;
        height: 100%;
        margin: auto;
    }
    section#login > div#formulario{
        float: left;
        width: 40%;
        margin-left: 50px;
    }
    div#formulario > h1{
        font-size: 2.3em;
    }
    div#formulario > p{
        font-size: 1.3em;
        margin: 20px 0px;
    }
}